<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.cdt.core.templates">
      <template
            filterPattern=".*gcc"
            id="hu.bme.mit.KernelModule"
            isCategory="false"
            location="templates/template.xml"
            pagesAfterTemplateSelectionProvider="hu.bme.mit.linuxdev.KernelSettingsPageProvider"
            projectType="org.eclipse.cdt.build.makefile.projectType">

      </template>
   </extension>
   <extension
         point="org.eclipse.cdt.core.LanguageSettingsProvider">
      <provider
            class="hu.bme.mit.linuxdev.KernelLanguageSettingsProvider"
            id="hu.bme.mit.linuxdev.KernelLanguageSettingsProvider"
            name="Linux kernel build settings"
            prefer-non-shared="false">
            <language-scope id="org.eclipse.cdt.core.gcc"/>
      </provider>
      <provider
            class="hu.bme.mit.linuxdev.KernelLanguageSettingsProvider"
            id="hu.bme.mit.linuxdev.KernelLanguageSettingsProvider"
            name="Linux kernel build settings"
            prefer-non-shared="false">
            <language-scope id="org.eclipse.cdt.core.as"/>
      </provider>
   </extension>

</plugin>
